{% extends 'Home/basic.html' %}
    <!-- Header Area End -->
 {%block body%}
  
{% load static %}
{% load hitcount_tags%}

    <!-- breadcrumb-area start -->
    <div class="breadcrumb-area" style="background-color: #EAF2F8">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-12 text-center">
                    <h2 class="breadcrumb-title">Stores</h2>
                    <!-- breadcrumb-list start -->
                    <ul class="breadcrumb-list">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">Blog Grid</li>
                    </ul>
                    <!-- breadcrumb-list end -->
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area end -->
{%if messages%}
   {% for i in messages%}
       <div class="{{i.tags}}" style="margin: auto;">
         
          <strong></strong>
            Hello {{request.user}} {{i}} - 
       </div>
   {%endfor%}
{%endif%}
    <!-- Blog Area Start -->
    <div class="blog-grid pb-100px pt-100px main-blog-page single-blog-page" style="background-color: #FFFFFF">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                  <div class="row  mb-n-50">
    
             {% for i in stores %}
              
                        <div class="col-lg-6 col-md-6 mb-50px" >
                            <div class="single-blog" style= 
                            
                            "box-shadow: rgba(0, 0, 0, 0.70) 0px 1px 4px;">
                                <div class="blog-image">
                                    <a href="{{i.get_absolute_url}}"><img src="/media/{{i.simage}}"
                                            class="img-responsive w-100" width="100%" height="100% " alt=""></a>
                                </div>
                     <div class="blog-text">
                       <div class="blog-athor-date" style="margin: 0px -5px;">
                        
                       
                        <a class="blog-date height-shape" href="#"><i class="fa fa-database"
                                                aria-hidden="true"></i>{{i.ccount}} Coupons </a>
                                        <a class="blog-mosion" href="#">
                                         <i class="fa fa-check-circle"
                                        aria-hidden="true"></i>{{i.ocount}} Offers</a>
                                     
                                        
                     <a class="blog-mosion" href="{{i.get_absolute_url_category}}"><i class="fa fa-check-circle"
                                        aria-hidden="true"></i> {{i.scategory}}</a>
                                        
                     
                                    </div>
                                    <h5 class="blog-heading"><a class="blog-heading-link"
                                            href="blog-single-left-sidebar.html">{{i.stores_name}}</a></h5>

                     <p>{{i.sdesc}}</p>
                     
                   
                     
                     <form action="{{i.get_absolute_url}}" method="get" accept-charset="utf-8"> <input type="hidden" id="" value="{{stores.id}}" /><button type="submit" class="btn btn-primary blog-btn">All Coupons<i class="fa fa-arrow-right ml-5px" aria-hidden="true"></i></button>
                       
                     </form>
                     
                     
                     
                    
                                </div>
                            </div>
                        </div>
  <!-- End single blog -->
       <!---->{% endfor %}
                      
                        <!--  Pagination Area Start -->
                        <div class="pro-pagination-style mb-40px text-center" data-aos="fade-up" data-aos-delay="200">
                            <div class="pages">
                                <ul>
                                    <li class="li"><a class="page-link" href="#"><i class="fa fa-angle-left"></i></a>
                                    </li>
                                    <li class="li"><a class="page-link active" href="#">1</a></li>
                                    <li class="li"><a class="page-link" href="#">2</a></li>
                                    <li class="li"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--  Pagination Area End -->

                    </div>
                </div>
                <!-- Sidebar Area Start -->
                <div class="col-lg-4 col-md-12 mt-md-50px mt-lm-50px" data-aos="fade-up"
                    data-aos-delay="200">
                    <div class="blog-sidebar mr-20px">
                        <!-- Sidebar single item -->
                        <div class="sidebar-widget">
                            <h3 class="sidebar-title">Search Here</h3>
                            <div class="search-widget">
                                <form action="#">
                                    <input placeholder="Search Your Article" type="text" />
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                        </div>
                        <!-- Sidebar single item -->
                        <!-- Sidebar single item -->
                        <div class="sidebar-widget">
                            <h3 class="sidebar-title">Post Categories</h3>
                            <div class="category-post">
                                <ul>
                   {% for i in randunicategory%}
                                    <li><a href="{% url 'Stores:categories' i.scategory %}" class="selected">  {{i.scategory}} <span>({{i.posts_count}})</span> </a></li>
                   {%endfor%}
                                   
                            </div>
                        </div>
                        <!-- Sidebar single item -->
                        <div class="sidebar-widget">
                            <h3 class="sidebar-title">Recent Coupons & Offers</h3>

                            <div class="recent-post-widget">
                               
                               
                               
                               
                  {% for i in latestcoupons%}             
                               
                                <div class="recent-single-post d-flex">
                                    <div class="thumb-side">
                                        <a href="blog-single-left-sidebar.html"><img
                                                src="/media/" alt="" /></a>
                                    </div>
                                    <div class="media-side">
                                        <span class="date"> <i class="fa fa-calendar"></i> 24 Aug, 2021</span>
                                        <h5><a href="blog-single-left-sidebar.html">{{i.cname}}</a>
                                        </h5>
                                    </div>
                                </div>
                    {% endfor %}
                            </div>
                        </div>
                        
                        <div class="sidebar-widget">
                            <h3 class="sidebar-title">Popular Tag</h3>

                            <div class="sidebar-widget-tag d-inline-block">
                                <ul>
                                    <li><a href="#">New Coupom</a></li>
                                    <li><a href="#">New Offers</a></li>
                                    <li><a href="#">New Stores</a></li>
                                    <li><a href="#">New Deals</a></li>
                                    
                                </ul>
                            </div>
                        </div>
                        <!-- Sidebar single item -->
                    </div>
                </div>
                <!-- Sidebar Area End -->
            </div>
            <!-- End single blog -->
        </div>
    </div>
    <!-- Blag Area End -->

   {% endblock %}