{% extends 'Home/basic.html' %}
    <!-- Header Area End -->
 {%block body%}
  
{% load static %}


    <!-- breadcrumb-area start -->
    <div class="breadcrumb-area" style="background-color: #EAF2F8">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-12 text-center">
                    <h2 class="breadcrumb-title">Contact Us</h2>
                    <!-- breadcrumb-list start -->
                    <ul class="breadcrumb-list">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active">Contact Us</li>
                    </ul>
                    <!-- breadcrumb-list end -->
                </div>
            </div>
        </div>
    </div>

    <!-- breadcrumb-area end -->
{%if messages%}
   {% for i in messages%}
       <div class="{{i.tags}}" style="margin: auto;">
         
          <strong></strong>
             {{i}}
       </div>
   {%endfor%}
 {%endif%}
    <!-- Contact Area Start -->
    <div class="contact-area pt-100px pb-100px">
        <div class="container">
            <div class="contact-wrapper">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="contact-info">
                    
                            <div class="single-contact">
                                <div class="icon-box">
                                    <img src="assets/images/icons/5.png" alt="">
                                </div>
                                <div class="info-box">
                                    <h5 class="title" >Email:</h5>
                                    <p><a href="mailto:demo@example.com">help@lootershub.com</a></p>
                                </div>
                            </div>
                            <div class="single-contact">
                                <div class="icon-box">
                                    <img src="assets/images/icons/6.png" alt="">
                                </div>
                                <div class="info-box">
                                    <h5 class="title" >Address:</h5>
                                    <p>Mumbai West</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="contact-form">
                            <div class="contact-title mb-30">
                                <h2 class="title" data-aos="fade-up" data-aos-delay="200">Leave a Message</h2>
                                <p>If Any Problem is There Free Feel to Contact Me through this Contact-Us Form. ( Reply Within 12hrs )</p>
                            </div>
                            <form class="contact-form-style" id="contact-form" action="" method="POST">
                      {%csrf_token%}
                      {{form.as_p}}
                                <div class="row">
                                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                                        <input name="first-name" placeholder="Name*" type="text" />
                                    </div>
                                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                                        <input name="email-address" placeholder="Email*" type="email" />
                                    </div>
                                    <div class="col-lg-12" data-aos="fade-up" data-aos-delay="200">
                                        <textarea name="message" placeholder="Your Message*"></textarea>
                                        <button class="btn btn-primary mt-4" data-aos="fade-up" data-aos-delay="200" type="submit">Post Comment <i class="fa fa-arrow-right"></i></button>
                                    </div>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact Area End -->

      <!-- map Area Start -->

      <div class="contact-map">
        <div id="mapid">
            <div class="mapouter">
                <div class="gmap_canvas">
                    <iframe id="gmap_canvas"
                        src="https://maps.google.com/maps?q=121%20King%20St%2C%20Melbourne%20VIC%203000%2C%20India&t=&z=13&ie=UTF8&iwloc=&output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                    <a href="https://sites.google.com/view/maps-api-v2/mapv2"></a>
                </div>
            </div>
        </div>
    </div>
    <!-- map Area End -->

{%endblock%}